[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
pepython = "*"
pytest = "*"
subprocess32 = "*"
pytest-mock = "*"
tox = "*"

[packages]
bumpytrack = {path = ".",editable = true}

[requires]
python_version = "3.11"
